<!-- Default scrape page -->
<div class="container" onload=share.addURI()>
  <div class="row">
    <div class="col-xs-12 title">
      <h1>ELI5 Scrapes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <a href="/random" class="btn btn-default btn-lg btn-block">Random Scrape</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 scrap-title">
      <h2>
        <%= title %>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 .scrape-main">
      <section>
        <%- topAnswer %>
      </section>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12">
      <span class="author">
        Answer by&nbsp;
        <a href="https://reddit.com/u/<%=topAnswerSubmitter%>">
          /u/<%= topAnswerSubmitter%>
          </a>
      </span>
      <span class="full-link">
        <a href="https://reddit.com/r/explainlikeimfive/<%=scrapeId%>">
        For the full post click here.
      </a>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="share-title">
        <p>Share this Scrape</p>
      </div>
      <form class="form-horizontal">
        <div class="form-group form-group-lg">
          <label class="col-xs-1 col-xs-offset-1 control-label" for="input-share-url">URL</label>
          <div class="col-xs-6">
            <input class="form-control" value="" id="input-share-url" placeholder="" type="text">
          </div>
          <div class="col-xs-3">
            <button class="btn btn-default btn-lg select-input" type="button" data-clipboard-target="#input-share-url">
              <span aria-hidden="true" class="glyphicon glyphicon-copy"></span>Copy</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include /../footer.ejs %>
